*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata

*.xcuserstate
*.xcuserdatad
xcuserdata/

DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/

## Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
!iosApp.xcodeproj/
!iosApp.xcodeproj/project.pbxproj
!iosApp.xcodeproj/project.xcworkspace/
!iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!iosApp.xcodeproj/xcshareddata/
!iosApp.xcodeproj/xcshareddata/xcschemes/
!iosApp.xcodeproj/xcshareddata/xcschemes/*.xcscheme

.swiftpm/
